<?xml version="1.0" encoding="UTF-8"?>
    <!--Copy this file to your ~/.m2 folder in order to access the artifacts -->
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <servers>
    <server>
      <id>github</id>
      <username>ahlianko</username>
      <password>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</password>
    </server>
    <server>
      <id>github-snapshot</id>
      <username>ahlianko</username>
      <password>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</password>
    </server>
    <server>
      <id>github-release</id>
      <username>ahlianko</username>
      <password>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</password>
    </server>
    <server>
      <id>github-ahlianko-maven-release-test</id>
      <username>ahlianko</username>
      <password>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</password>
    </server>
  </servers>

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

</settings>

